## Loading Data

In [25]:
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import label_binarize
from sklearn.model_selection import train_test_split

test_data = pd.read_csv('../data/house-prices-advanced-regression-techniques/test.csv')

train_data=pd.read_csv('../data/house-prices-advanced-regression-techniques/train.csv')

## Display Train

In [90]:
train_data.head(5)

train_data.OpenPorchSF

0       61
1        0
2       42
3       35
4       84
        ..
1455    40
1456     0
1457    60
1458     0
1459    68
Name: OpenPorchSF, Length: 1460, dtype: int64

## Display Test

In [68]:
test_data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

# Check up for missing Data

In [84]:
nums =test_data.columns[test_data.dtypes != 'object']
train_data[nums].isnull().sum().sort_values(ascending=False).head(8) / len(train_data[nums]) *100

LotFrontage     17.739726
GarageYrBlt      5.547945
MasVnrArea       0.547945
Id               0.000000
WoodDeckSF       0.000000
KitchenAbvGr     0.000000
TotRmsAbvGrd     0.000000
Fireplaces       0.000000
dtype: float64

## Train / Test - > Split  &&  Features Selection

In [94]:
y = train_data.SalePrice
X = train_data[["LotArea","OpenPorchSF","GarageArea","Condition1","Condition2"]]
X_train, X_val, y_train, y_val = train_test_split(X, y,
                                                  test_size=0.2,
                                                 random_state = 42)
print('train:', len(X_train), 'validation:', len(X_val))

train: 1168 validation: 292

## Condition1: Proximity to various conditions
	
## Condition2: Proximity to various conditions (if more than one is present)
	
       Artery	Adjacent to arterial street
       Feedr	Adjacent to feeder street	
       Norm	Normal	
       RRNn	Within 200' of North-South Railroad
       RRAn	Adjacent to North-South Railroad
       PosN	Near positive off-site feature--park, greenbelt, etc.
       PosA	Adjacent to postive off-site feature
       RRNe	Within 200' of East-West Railroad
       RRAe	Adjacent to East-West Railroad

## Features Display

In [97]:
X.head(10)

   LotArea  OpenPorchSF  GarageArea Condition1 Condition2
0     8450           61         548       Norm       Norm
1     9600            0         460      Feedr       Norm
2    11250           42         608       Norm       Norm
3     9550           35         642       Norm       Norm
4    14260           84         836       Norm       Norm
5    14115           30         480       Norm       Norm
6    10084           57         636       Norm       Norm
7    10382          204         484       PosN       Norm
8     6120            0         468     Artery       Norm
9     7420            4         205     Artery     Artery